Repository tvna/streamlit-command-ghostwriter: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, pytest_without_e2e, lizard_combined

actionlint-system:
  name: Lint GitHub Actions workflow files
  description: Runs system-installed actionlint to lint GitHub Actions workflow files
  language: system
  entry: actionlint

pytest_without_e2e:
  name: pytest (without e2e)
  entry: pytest -vv -n auto -m "unit or integration or workflow" --disable-warnings --benchmark-disable
  language: system
  pass_filenames: false
  verbose: true

lizard_combined:
  name: lizard (check CCN for production codes)
  entry: "poetry run lizard -l python \\\n  -x \"./node_modules/*\" \\\n  -x \"./.venv/*\" \\\n  -x \"./build/*\" \\\n  -x \"./dist/*\" \\\n  -x \"./htmlcov/*\" \\\n  -x \"./tests/*\" \\\n  --CCN \"10\"\n"
  language: system
  pass_filenames: false
  ...

test(E2E Test): pyreの型エラーを修正
  tests/e2e/test_e2e.py
Due: pytest_without_e2e, lizard_combined

test(E2E Test): ヘルパー関数のpyreの型エラーを修正
  tests/e2e/helpers.py
Due: pytest_without_e2e, lizard_combined

test(i18n): pyreの型エラーを修正
  tests/unit/test_i18n.py
Due: pytest_without_e2e, lizard_combined

chore(mypy): mypyの型チェックを厳格化
  pyproject.toml
Due: none

refactor(ConfigParser): カバレッジ向上のため、未使用コードの整理
  features/config_parser.py
Due: pytest_without_e2e, lizard_combined

test(ConfigParser): CSVのエッジケーステストを追加、parametrizeの可読性向上のために並べ替え
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

chore(pyre): 検索ディレクトリ、除外ディレクトリを見直し
  .pyre_configuration
Due: none

revert(E2E Test): pyreの型エラーによってテストが壊れたため、復旧
  tests/e2e/helpers.py
  tests/e2e/test_e2e.py
Due: pytest_without_e2e, lizard_combined

ci(pyre): pyre-actionの実行位置をreusable workflowに移動
  .github/workflows/automerge-dependabot.yml
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

refactor(FileValidator): ignoreコメントを削除しつつ、型エラーを解消
  features/validate_uploaded_file.py
Due: pytest_without_e2e, lizard_combined

ci(Test and Build (on pull request)): paths-ignoreの微調整
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

fix(TemplateSecurityValidator): ignoreコメントの削除、classmethodデコレーター追加、挙動変更に伴うテストコードの変更
  features/validate_template.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

chore(pysa): pysaのTaint Modelを設定
  .pyre_configuration
  taint/.config
  taint/streamlit_app.pysa
Due: none

ci(Reusable Test & Build): ZAPによる脆弱性スキャンを新規導入
  .github/workflows/reusable-test-and-build.yml
  .zap/rules.tsv
  package.json
Due: actionlint-system

ci(Reusable Test & Build): pysa導入に向けて、pyreをコンポジットアクションから上位のワークフローに移動
  .github/actions/test-pyre/action.yml
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Reusable Test & Build): gitのcheckoutに一貫性がなく、特殊な用途を除いて統一
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Reusable Test & Build): Harden Runnerのegress policyの判定を環境変数で指定するように統一、ZAPに関する処理のパーミッションとタイムアウトを設定
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (on merged to main)): Harden Runnerのegress policyを環境変数で指定するように統一、ワークフローのタイムアウト値を設定
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci( Test and Build (on pull request)): Harden Runnerのegress policyを環境変数で指定するように統一、ワークフローのタイムアウト値の微調整
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(Test and Build (on push to develop)): 各ワークフローの記述統一に伴う対応
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Auto-merge for dependabot): 自動PR承認が漏れており、全体的に刷新
  .github/workflows/automerge-dependabot.yml
Due: actionlint-system

ci(Reusable Test & Build): ワークフローのタイムアウト値の修正、ZAPに関するエラー処理とパーミッションの見直し
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(zap_scan): 上位ワークフローにおける権限不足の修正
  .github/workflows/automerge-dependabot.yml
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(actions): デフォルトのタイムアウト値を5分から3分に統一
  .github/workflows/automerge-dependabot.yml
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Reusable Test & Build): 一部処理のタイムアウト値が短すぎたため、よりバッファを持たせた値に変更
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Reusable Test & Build): dispatch設定を追加、タイムアウト値の不備を修正
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): ガード節の整理、pysaの追加
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): Trivyのスキャン対象コード割り当て漏れを修正、タイムアウト値の表現を見直し、pysaのコマンド引数誤りを修正
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): Vultureによるデッドコード検知を追加、Pysaの初期セットアップ方法を修正
  .github/workflows/reusable-test-and-build.yml
  pyproject.toml
Due: actionlint-system

ci(Test and Build (dispatch)): ガード節の整理、pysaセットアップの見直し
  .github/actions/setup-python/action.yml
  .github/workflows/reusable-test-and-build.yml
  .zap/rules.tsv
Due: actionlint-system

revert(Setup python): デフォルトshellが反応しないため、元に戻す
  .github/actions/setup-python/action.yml
Due: none

chore(ZAP): rules.tsvのフォーマットエラーにつき修正
  .zap/rules.tsv
Due: none

ci(Test and Build (dispatch)): pysaのセットアップ方法を修正、ZAPをデバッグモードで実行するように変更
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): Harden Runnerの設定漏れを追加、pysaセットアップの見直し
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

chore(pyre): ローカルにおけるpyreを考慮するとGithub actions側が失敗するので、ローカル側の考慮を除外
  .pyre_configuration
  package.json
Due: none

ci(Dependabot Updates): セキュリティアップデート設定を追加、全ての更新にてグループ化をするように統一
  .github/dependabot.yml
Due: none

ci(Test and Build (dispatch)): pysaのセットアップ方法を変更
  .github/workflows/reusable-test-and-build.yml
  .pyre_configuration
Due: actionlint-system

revert(Test and Build (dispatch)): pyreのセットアップコマンドが意図せず崩れており、修正
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): pysaのセットアップを再度修正
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): pysaのセットアップを見直し
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  pytest_without_e2e: any of: \.py$
  lizard_combined: any of: \.py$
