Repository tvna/streamlit-command-ghostwriter: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, pytest_without_e2e, lizard_combined

actionlint-system:
  name: Lint GitHub Actions workflow files
  description: Runs system-installed actionlint to lint GitHub Actions workflow files
  language: system
  entry: actionlint

pytest_without_e2e:
  name: pytest (without e2e)
  entry: pytest -vv -n auto -m "unit or integration or workflow" --disable-warnings --benchmark-disable
  language: system
  pass_filenames: false
  verbose: true

lizard_combined:
  name: lizard (check CCN for production codes)
  entry: "poetry run lizard -l python \\\n  -x \"./node_modules/*\" \\\n  -x \"./.venv/*\" \\\n  -x \"./build/*\" \\\n  -x \"./dist/*\" \\\n  -x \"./htmlcov/*\" \\\n  -x \"./tests/*\" \\\n  --CCN \"10\"\n"
  language: system
  pass_filenames: false
  ...

ci(github actions): ワークフローにタグをcommit SHAに変更、テストカバレッジ用に生成するファイルを追加
  .github/actions/build-stlite/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-python/action.yml
  .github/actions/test-coverage/action.yml
  .github/actions/test-python-playwright/action.yml
  .github/workflows/reusable-test-and-build.yml
  .gitignore
Due: actionlint-system

ci(Create pull request to main): 未使用のcomposite actionを削除
  .github/actions/create-pr-to-main/action.yml
Due: none

ci(github actions): ドキュメンテーションの追加、タグをcommit SHAに置換
  .github/actions/build-stlite/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup-python/action.yml
  .github/actions/test-coverage/action.yml
  .github/actions/test-python-playwright/action.yml
Due: none

refactor(ConfigParser): 型情報の厳格化、CCN上昇に伴うリファクタリング
  .pre-commit-config.yaml
  features/config_parser.py
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

refactor(E2E): E2Eテストコードにおける型情報の厳格化
  tests/e2e/conftest.py
  tests/e2e/helpers.py
  tests/e2e/test_e2e.py
Due: pytest_without_e2e, lizard_combined

chore: stubの追加、vscode設定に非表示対象の追加、mypyチェックの一部厳格化
  command-ghostwriter.code-workspace
  poetry.lock
  pyproject.toml
Due: none

ci(Test and Build (on push)): pyreの実行結果の確認方法を拡充
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (on push)): pyreのsarifファイルのパスが誤っており修正
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Convert SARIF to summary): SARIFの内容をサマリに表示する処理をcomposite actionに変更、gitleaksにも対応
  .github/actions/convert-sarif-to-summary/action.yml
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Convert SARIF to summary): SARIF_PATHの入力が誤っており修正
  .github/actions/convert-sarif-to-summary/action.yml
Due: none

ci(Convert SARIF to summary): coreのインポートが冗長なことでエラーになり、修正
  .github/actions/convert-sarif-to-summary/action.yml
Due: none

ci(Convert SARIF to summary): サマリのmarkdownが崩れており、回避策を適応
  .github/actions/convert-sarif-to-summary/action.yml
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Convert SARIF to summary): 改行コードの不備を修正
  .github/actions/convert-sarif-to-summary/action.yml
Due: none

ci(Convert SARIF to summary): 改行コードの挿入誤りを修正
  .github/actions/convert-sarif-to-summary/action.yml
Due: none

ci(Convert SARIF to summary): messageのエスケープが適切でなく、修正
  .github/actions/convert-sarif-to-summary/action.yml
Due: none

docs(README): バッジのリンクが壊れており、修正
  README.md
Due: none

refactor: pytestのマーカーに対する型の追加、定数に対する型の追加
  tests/e2e/test_e2e.py
  tests/test_app_integration.py
  tests/unit/test_app.py
  tests/unit/test_config_parser.py
  tests/unit/test_core.py
  tests/unit/test_document_render.py
  tests/unit/test_i18n.py
  tests/unit/test_transcoder.py
Due: pytest_without_e2e, lizard_combined

refactor: 型情報の追加
  features/config_parser.py
  features/core.py
  features/document_render.py
  features/validate_template.py
Due: pytest_without_e2e, lizard_combined

refactor: 型情報の追加
  features/core.py
  tests/test_app_integration.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

refactor: 型情報の追加
  tests/e2e/test_e2e.py
  tests/unit/test_document_render.py
  tests/unit/test_transcoder.py
Due: pytest_without_e2e, lizard_combined

refactor: 型情報の追加、制御フローにて明確にNoneを判定するように変更
  features/core.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

chore(stlite): ビルド時の関連ファイルのインポート漏れを追加
  package.json
Due: none

ci(Test and Build (main)): ビルド時のアーティファクト生成が冗長なのを修正、ワークフロー実行条件の見直し
  .github/actions/build-stlite/action.yml
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(Test and Build): ジョブ名の表記ぶれを修正
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (main)): 無効化されたアクションをフォーク元に変更、タグ情報とcommit SHAの指定方法の変更
  .github/workflows/test-and-build-on-merged.yml
  package-lock.json
  package.json
Due: actionlint-system

ci(Dependabot): pythonとnodeのPRを全てグループ化
  .github/dependabot.yml
Due: none

ci(Test and Build (on push)): create-prを修正
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (on push to develop)): PR自動発行が正しく動作しないため、回避策の適応
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (on push to develop)): create-prをサードパーティアクションから、github-scriptに代替
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Dependabot): devcontainersのディレクトリの解析が失敗しており、変更案の適応
  .github/dependabot.yml
Due: none

ci(Dependabot Updates): devocontainersのパス誤りを修正
  .github/dependabot.yml
Due: none

ci(Test Pyre): pyreの処理をcomposite actionに集約と代替
  .github/actions/test-pyre/action.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (main)): ジョブ名とpermissionの見直し
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(Auto-merge for dependabot): ジョブのタイムアウト時間を修正
  .github/workflows/automerge-dependabot.yml
Due: actionlint-system

ci(Test Pyre): checkoutがcomposite actionで動作しないため、上位側のワークフローに処理を移動
  .github/actions/test-pyre/action.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Auto-merge for dependabot): check_nameが正しくなかったので、修正案を反映
  .github/workflows/automerge-dependabot.yml
Due: actionlint-system

ci(Test Pyre): timeout-minutesが認識できないため、削除
  .github/actions/test-pyre/action.yml
Due: none

ci(Reusable Test & Build): unit-testのmatrixから古いubuntu-osを削除
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test Pyre): shellの指定漏れを追加
  .github/actions/test-pyre/action.yml
Due: none

ci(Test and Build (main)): ワークフロー内の未使用ステップの削除、冗長な記述の見直し
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  pytest_without_e2e: any of: \.py$
  lizard_combined: any of: \.py$
