Repository tvna/streamlit-command-ghostwriter: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, pytest_without_e2e, lizard_combined

actionlint-system:
  name: Lint GitHub Actions workflow files
  description: Runs system-installed actionlint to lint GitHub Actions workflow files
  language: system
  entry: actionlint

pytest_without_e2e:
  name: pytest (without e2e)
  entry: pytest -vv -n auto -m "unit or integration or workflow" --disable-warnings --benchmark-disable
  language: system
  pass_filenames: false
  verbose: true

lizard_combined:
  name: lizard (check CCN for production codes)
  entry: "poetry run lizard -l python \\\n  -x \"./node_modules/*\" \\\n  -x \"./.venv/*\" \\\n  -x \"./build/*\" \\\n  -x \"./dist/*\" \\\n  -x \"./htmlcov/*\" \\\n  -x \"./tests/*\" \\\n  --CCN \"10\"\n"
  language: system
  pass_filenames: false
  ...

ci(Test and Build (dispatch)): pysaセットアップについて、pyreセットアップのキャッシュを使うように変更
  .github/actions/setup-python/action.yml
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): pyre用のキャッシュを見直し、mypyとruffのデバッグプリントを表示するように変更
  .github/actions/setup-python/action.yml
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): pysaのセットアップを修正
  .github/actions/setup-python/action.yml
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): ZAPのエラーを生還するように変更、pysaのセットアップ方法を変更
  .github/workflows/reusable-test-and-build.yml
  .pyre_configuration
Due: actionlint-system

chore(pyre): search_pathを誤って消したため、復元
  .pyre_configuration
Due: none

ci(Auto-merge for dependabot): dependabotの実行条件ユーザーを修正
  .github/workflows/automerge-dependabot.yml
Due: actionlint-system

chore(pyre): pyreのサーチパスの修正、ワークフローのpaths-ignoreから除外
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
  .pyre_configuration
Due: actionlint-system

ci(Test and Build (dispatch)): pyre-actionは警告のみを目的とするために、continue-on-errorを追記
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (dispatch)): pyreとpysaのチューニング実施
  .github/workflows/reusable-test-and-build.yml
  .pyre_configuration
Due: actionlint-system

ci(Setup Python): Pythonセットアップのキャッシュが壊れたため、一時修正
  .github/actions/setup-python/action.yml
Due: none

ci(Test and Build (dispatch)): pysa関係の処理時間が長すぎるため、チューニングを実施
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build): egress policyの厳格化、pysaのタイムアウト値を解除
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

chore(pyre): pyreとpysaのチューニングのため、コンフィグファイルを変更
  .pyre_configuration
Due: none

ci(Test and Build (on pull request)): ベンチマークテストのタイムアウト値の誤りを修正
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(Test and Build (dispatch)): 不足しているegress poiliyを追加
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Harden Runner): allowed-endpointsの表記方法の見直し
  .github/workflows/automerge-dependabot.yml
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Harden Runner): trivyによるスキャンで不足しているallowed endpointを追加
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (on pull request)): dependabot用のワークフローが分割されていることで動作不良があり、修正
  .github/workflows/automerge-dependabot.yml
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(Test and Build (dispatch)): 背景情報コメントの更新、pyreの設定チューニング
  .github/workflows/reusable-test-and-build.yml
  .pyre_configuration
Due: actionlint-system

ci(Test and Build (on push to develop)): 背景情報コメントの更新、自身の処理と連動しないワークフローの更新により起動しないように修正
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (on pull request)): 背景情報コメントの更新
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(Test and Build (on merged to main)): 背景情報コメントの更新、mainブランチへのマージ成功時のみ実行するように起動条件を見直し
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(Test and Build (on merged to main)): ファイル操作を伴う処理について、Hardern Runnerのファイルモニタリングを有効化
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(Test and Build (dispatch)): ZAP Scanの結果をgithub summaryに出力する仕様に変更、不要なアーティファクトを最後にまとめて削除する処理を追加
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(actions): reusable workflowのパーミッション追加に伴い、上位ワークフロー側のパーミッションも変更
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (dispatch)): アーティファクト削除処理の不具合を修正、shellscriptからgithub scriptに代替
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Harden Runner): 全ての処理でファイル検査をするように修正
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (dispatch)): Trivyの結果をsarif形式に変更、sarifが関わる処理をCodeQLに連携
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build - dispatch): CodeQLアップロード処理の見直し
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build - dispatch): ユニットテストにおいて不必要にカバレッジファイルを生成しており、削除
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (on push to develop)): npmバージョンの確認方法について、ファイル検査でエラーにならないように見直し
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

chore(pysa): pysaの設定チューニングを実施 (警告は継続中)
  .pyre_configuration
  taint/.config
  taint/streamlit_app.pysa
Due: none

refactor(app): pysaの解析に最適化するため、メソッドチェーン実装の見直し
  .pre-commit-config.yaml
  app.py
Due: pytest_without_e2e, lizard_combined

chore(prettier): フォーマッター適応に伴う末尾の改行追加
  poetry.toml
Due: none

chore(ZAP): streamlitの仕様で発生する脆弱性を静観するように定義
  .zap/rules.tsv
Due: none

ci(Test and Build - dispatch): ZAP scanが自動発行されるIssueのリンクに割り当てされており、アーティファクトを削除しないように修正
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

chore(ZAP): rules.tsvの区切り文字としてTABが反映されておらずスペースになっており、修正
  .zap/rules.tsv
Due: none

ci(Test and Build - dispatch): カバレッジ出力を必要としないユニットテストにおいて、カバレッジのオプションを無効化
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Test and Build (on pull request)): benchmark-actionのチューニングに向けて、workflow_dispatch イベントを実行条件に追加
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(Test and Build - dispatch): ZAP scanのmarkdownファイル出力オプションが二重に設定されており、デフォルト値で出力するように統一
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  pytest_without_e2e: any of: \.py$
  lizard_combined: any of: \.py$
