Repository tvna/streamlit-command-ghostwriter: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, pytest_without_e2e, lizard_combined

actionlint-system:
  name: Lint GitHub Actions workflow files
  description: Runs system-installed actionlint to lint GitHub Actions workflow files
  language: system
  entry: actionlint

pytest_without_e2e:
  name: pytest (without e2e)
  entry: pytest -vv -n auto -m "unit or integration or workflow" --disable-warnings --benchmark-disable
  language: system
  pass_filenames: false
  verbose: true

lizard_combined:
  name: lizard (check CCN for production codes)
  entry: "poetry run lizard -l python \\\n  -x \"./node_modules/*\" \\\n  -x \"./.venv/*\" \\\n  -x \"./build/*\" \\\n  -x \"./dist/*\" \\\n  -x \"./htmlcov/*\" \\\n  -x \"./tests/*\" \\\n  --CCN \"10\"\n"
  language: system
  pass_filenames: false
  ...

ci(pre-commit): yamllintによるフォーマット適応を追加
  .pre-commit-config.yaml
Due: none

ci(pre-commit): yamllintのパーサー指定漏れのため、追加
  .pre-commit-config.yaml
Due: none

docs(Rules for AI): github actions ワークフロー用のルールに構文ルールを追加
  .cursor/rules/D-202_gh-actions-workflow.mdc
Due: none

ci(Test and Build (on push to develop)): prettierのフォーマットを適応
  .github/actions/test-pyre/action.yml
Due: none

ci(Test and Build (on push to develop)): 過去に作成済みのPRについて、再び生成することがないように判定を追加
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test coverage for python): Codecov宛にテストレポートを送付するように変更
  .github/actions/test-coverage/action.yml
Due: none

ci(Test coverage for python): 実行に必要な権限が不足しており、追加
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Build by stlite): ビルドのアップロード前に圧縮する処理を追加
  .github/actions/build-stlite/action.yml
Due: none

ci(Test and Build (main)): ビルド成果物のアップロードにおいて、圧縮ファイルを対象とするように変更
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(codecov): レポートのアップロードに失敗するため、デバッグ処理のverboseを有効化
  .github/actions/test-coverage/action.yml
Due: none

ci(Test Coverage): composite actionのcoverageが動作してないため、切り分けのため上位ワークフローに移動
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Coverage): code climateの環境変数の受け渡し方法の不備を中世
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Coverage): Code Climateの無効化
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(Coverage): 週毎処理、composite actionの削除、code climate廃止に伴う設定の削除
  .codeclimate.yml
  .github/actions/test-coverage/action.yml
  .github/workflows/test-coverage.yml
  command-ghostwriter.code-workspace
Due: actionlint-system

chore(prettier): code-workspaceのフォーマットに対応
  .pre-commit-config.yaml
  command-ghostwriter.code-workspace
Due: none

chore(prettier): prettierのjsonソートプラグインの追加
  package-lock.json
  package.json
Due: none

chore(codecov): codecov.yamlの追加
  codecov.yaml
  command-ghostwriter.code-workspace
Due: none

chore(prettier): フォーマッター適応によるテキストファイル末尾の改行追加
  .cursor/rules/C-103_python-security.mdc
  .cursor/rules/D-101_localhost.mdc
  .devcontainer/Dockerfile
  .github/workflows/reusable-test-and-build.yml
  .gitignore
  .streamlit/config.toml
  assets/examples/cisco_config.toml
  assets/examples/cisco_template.jinja2
  assets/examples/dns_dig_config.csv
  assets/examples/dns_dig_tmpl.j2
  assets/examples/success_config.yaml
  assets/examples/success_template.j2
  commitlint.config.cjs
  docs/commands.md
Due: actionlint-system

ci(secrets): reusable workflowに対するsecretsの受け渡し漏れの修正
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(GITHUB_TOKEN): reusable workflowにおけるGITHUB＿TOKENの割り当てはエラーとなるため、削除
  .github/workflows/reusable-test-and-build.yml
  .github/workflows/test-and-build-on-merged.yml
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(coverage): strategyによる複数ブランチの同時処理が有効でないと判明し、削除
  .github/workflows/reusable-test-and-build.yml
Due: actionlint-system

ci(benchmark): benchmark-actionの追加
  .github/actions/test-python-playwright/action.yml
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(benchmark): GITHUB_TOKENの受け渡し方法の不備を修正、ビルド後のアーティファクト名の修正
  .github/actions/test-python-playwright/action.yml
  package.json
Due: none

ci(benchmark): GITHUB＿SECRETの受け渡し方法を修正
  .github/actions/test-python-playwright/action.yml
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(e2e-test): GITHUB_TOKENが必須パラメーターになっており、修正
  .github/actions/test-python-playwright/action.yml
Due: none

chore(npm): npm run coverageを削除して、testに集約
  package.json
Due: none

test(DocumentRender): エッジケーステストの追加、可読性向上のための説明定数の置換
  features/document_render.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

chore(code-workspace): 環境再セットアップ時にvscodeの参照エラーが発生したため、修正
  command-ghostwriter.code-workspace
Due: none

refactor( DocumentRender): フォーマットタイプの説明定数の修正、未使用関数の削除、早期リターンの見直し
  features/document_render.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): 説明定数が状態を表しておらず、修正
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): パラメーター化テストを集約、改行付き文字列の表現を統一
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test( DocumentRender): Noneを説明定数に置換、idの表記が不適切だったのを変更、不要なコメントを削除
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): 日付に関数するテストケースの追加、パラメーター化テストの並べ間違いを修正、不要コメント削除、非strictモードのテストを一部追加
  features/document_render.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): パラメーター化テストの集約、不要なコメントの削除
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

fix(DocumentRender): format_typeのエラーメッセージを修正
  features/document_render.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): メモリ消費量が閾値超過した時のテストを追加
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(ConfigParser): パラメーター化テストの説明定数への置換、無駄なコメントの削除、ヒアドキュメントを連結文字に置換
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

test(ConfigParser): テストコードが冗長になっており、全体的に刷新
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

test(ConfigParser): typo検知を発端とするテストコードの改行コード不備の修正
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

ci(E2E Tests): benchmark-actionのエラー発生に伴い、修正案を適応
  .github/actions/test-python-playwright/action.yml
Due: none

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  pytest_without_e2e: any of: \.py$
  lizard_combined: any of: \.py$
