Repository tvna/streamlit-command-ghostwriter: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, pytest_without_e2e, lizard_combined

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  pytest_without_e2e: any of: \.py$
  lizard_combined: any of: \.py$

test(DocumentRender): エッジケーステストの追加、未使用コードの削除、エラーメッセージの標準化
  features/document_render.py
  features/validate_template.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): テストコードのidを修正
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): 再帰処理の上限値が環境によって異なるため、ループ回数を引き上げ
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): 再帰処理の上限値が環境によって異なるため、ループ回数をさらに引き上げ
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

chore(npm): パッチバージョンを手動で変更
  package-lock.json
  package.json
Due: none

ci(create-pr-to-main): create-prが動作してないため、デバッグ出力を追加
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(create-pr-to-main): github scriptのtypoを修正
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build (on merged to main)): CI名の変更
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(Test and Build (on push to develop)): 自動PR作成が動いてないので、修正
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

test(ConfigParser): マーカー設定漏れのため追加、ドキュメンテーションの更新、冗長なコメントを削除
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

test(DocumentRender): パラメーター化テストの冗長部分の簡略化、定数関係の位置を統一、ドキュメンテーションの最新化
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

ci(ConfigParser): パラメーター化テストの冗長部分の簡略化、テストコード本体をAAAパターンに修正
  tests/unit/test_config_parser.py
Due: pytest_without_e2e, lizard_combined

ci(Test and Build (on push to develop)): create-prが破損していたので修正
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Setup Python): WindowsのPythonセットアップが常に失敗するようになり、キャッシュ設定を見直し
  .github/actions/setup-python/action.yml
Due: none

refactor(pyre): PRにおける型エラー指摘の修正
  features/document_render.py
  features/validate_template.py
Due: pytest_without_e2e, lizard_combined

chore(gh-pages): benchmark-actionのために、orphanブランチを新規作成
  .gitignore
Due: none

ci(Test and Build (on pull request)): benchmark不具合の切り分けのため、対象OSをmacOSに限定
  .github/workflows/test-and-build-on-pr.yml
Due: actionlint-system

ci(E2E Tests): benchmark actionの動作不良のため、切り分けのため設定修正
  .github/actions/test-python-playwright/action.yml
Due: none

ci(Github Release): 自動リリースの設定ファイルを新規追加
  .github/release.yml
Due: none

refactor(pyre): pyreにて指摘された型エラーの修正
  .pyre_configuration
  features/validate_template.py
  tests/unit/test_config_parser.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

revert(E2E Tests): ベンチマークのgh-pagesが更新されてないので、github-tokenを改めて付与
  .github/actions/test-python-playwright/action.yml
Due: none

refactor(pyre): 型エラーの修正案を適応
  __init __.py
  features/config_parser.py
  features/core.py
Due: pytest_without_e2e, lizard_combined

refactor(mypy): 型エラーを修正
  features/config_parser.py
  features/document_render.py
  features/validate_template.py
  tests/e2e/conftest.py
  tests/unit/test_config_parser.py
  tests/unit/test_document_render.py
  tests/unit/test_i18n.py
  tests/unit/test_transcoder.py
Due: pytest_without_e2e, lizard_combined

refactor(pyre): 型エラーを修正
  features/config_parser.py
  features/document_render.py
Due: pytest_without_e2e, lizard_combined

refactor(pyre): 型エラーを修正
  features/config_parser.py
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

refactor(pyre): 型エラーを修正
  features/validate_template.py
Due: pytest_without_e2e, lizard_combined

refactor(TemplateSecurityValidator): VScode側でエラーが発生しており修正
  features/validate_template.py
Due: pytest_without_e2e, lizard_combined

refactor(DocumentRender): プライベート変数のままでは型判定の早期リターンが効かないため、ローカル変数を経由するように変更
  features/document_render.py
Due: pytest_without_e2e, lizard_combined

test( DocumentRender): Incompatible return typeの型エラーを修正
  tests/unit/test_document_render.py
Due: pytest_without_e2e, lizard_combined

chore(features): pyreでインポートエラーが出るため、回避策を適応
  features/__init__.py
Due: pytest_without_e2e, lizard_combined

ci(Test and Build (on merged to main)): リリース用のアーティファクト名が不一致しており修正
  .github/workflows/test-and-build-on-merged.yml
Due: actionlint-system

ci(dependabot): dependabotの自動マージに関わるワークフローの刷新
  .github/workflows/automerge-dependabot.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

ci(Test and Build): ワークフロー起動条件の変更
  .github/workflows/test-and-build-on-pr.yml
  .github/workflows/test-and-build-on-push.yml
Due: actionlint-system

chore(pyre): 静的解析の対象ディレクトリの修正
  .pyre_configuration
Due: none

chore(npm): e2eテストとpyreのコマンドエイリアスを追加
  package.json
Due: none

refactor(main): pyreの静的解析エラーを修正
  app.py
Due: pytest_without_e2e, lizard_combined

refactor(ConfigParser): pyreの型エラーを修正
  features/config_parser.py
Due: pytest_without_e2e, lizard_combined

refactor(TemplateSecurityValidator): pyreの型エラーを修正
  features/validate_template.py
Due: pytest_without_e2e, lizard_combined

refactor(FileValidator): pyreの型エラーの抑止
  features/validate_uploaded_file.py
Due: pytest_without_e2e, lizard_combined

refactor(AppCore): pyreの型エラーを修正
  features/core.py
Due: pytest_without_e2e, lizard_combined
